.app {
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.app-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 12px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.checkbox-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}
.output-header-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.output-body-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-left: 12px;
}
.output-total-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
}
.loading-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
.spacing {
  margin: 10px;
}
